@charset "utf-8";
/*项目初始化样式*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-family: inherit;
}
input:hover,
textarea:hover,
button:hover,
input:active,
textarea:active,
button:active,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  touch-action: none;
}
html,
body {
  width: 8084px;
  height: 1720px;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a,
a:hover,
a:focus,
a:link {
  text-decoration: none;
}
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}
table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
body {
  font-family: 微软雅黑;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
[disabled] {
  opacity: 0.8;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
.g-h100 {
  height: 100%;
}
.g-w100 {
  width: 100%;
}
.flex-row {
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  flex-direction: row;
}
.flex-column {
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  flex-direction: column;
}
ul,
li,
ol,
dl {
  list-style: none;
}
.g-hd {
  width: 100%;
  height: 179px;
  text-align: center;
  background: url(../img/head_bg.png) no-repeat;
}
.g-hd span {
  text-align: center;
  font-size: 68px;
  line-height: 178px;
  color: #fff;
}
.g-bd {
  position: relative;
  margin-top: -25px;
  width: 100%;
  height: calc(100% - 158px);
  padding: 0 48px;
}
.g-bd .m-box-title {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  background: url(../img/pub_title_bg.png) bottom no-repeat;
}
.g-bd .m-box-title.u-left {
  text-align: left;
  padding-left: 175px;
  background: url(../img/pub_title_bg.png) left bottom no-repeat;
}
.g-bd .m-box-title .u-title {
  font-size: 44px;
  line-height: 3px;
  color: #ffffff;
  text-shadow: 2px 3px 1px rgba(0, 174, 255, 0.4);
}
.g-bd .m-box-title-1 {
  width: 100%;
  height: 76px;
  text-align: left;
  background: url(../img/pub_title_bg_2.png) no-repeat;
}
.g-bd .m-box-title-1.m-long {
  background: url(../img/pub_title_bg_2_long.png) no-repeat;
}
.g-bd .m-box-title-1 .u-title {
  padding-left: 64px;
  font-size: 38px;
  line-height: 44px;
  color: #ffffff;
  text-shadow: 2px 3px 1px rgba(0, 174, 255, 0.4);
}
.g-bd .m-box-main {
  margin-top: 15px;
}
.g-bd .m-auto {
  margin: 0 auto;
}
.g-bd .m-box {
  background: rgba(9, 36, 64, 0.5);
}
.g-bd .m-box-title-5 {
  width: 100%;
  height: 252px;
  text-align: center;
}
.g-bd .m-box-title-5 .u-icon {
  width: 161px;
  height: 144px;
}
.g-bd .m-box-title-5 .u-icon.u-icon-4 {
  width: 146px;
  height: 130px;
}
.g-bd .m-box-title-5 .u-title {
  margin-top: 20px;
  width: 100%;
  height: 90px;
}
.g-bd .m-box-title-5 .u-title span {
  position: relative;
  line-height: 80px;
  font-size: 42px;
  color: #00fff5;
  height: 100%;
  z-index: 100;
}
.g-bd .m-box-title-5 .u-title span::after {
  position: absolute;
  width: 439px;
  height: 90px;
  top: -16px;
  left: -85px;
  content: url(../img/pub_title_bg_5.png);
  z-index: -1;
}
.g-bd .m-box-main-5 {
  margin-top: 30px;
}
